section.hero
  div.container
    div.hero__wrap
      div.hero__photo
        img.hero__photo-img(src="img/content/hero.png", alt="Peach Peel")
      div.hero__description
        h2.hero__title Peach Peel
        div.hero__slogan для клиник и салонов красоты
        div.hero__text <strong>2х фазный гидролипидный химический пилинг:</strong> АХА-кислоты, гиалуроновая кислота и масло косточки персика
        a.hero__more(href="#") Узнать больше
  div.hero__animation
    span Всесезонный
