section.innovation
  div.container
    div.innovation__animation-text(data-paroller-factor="0.9" data-paroller-factor-lg="0.4" data-paroller-factor-md="0.3" data-paroller-factor-sm="-0.2" data-paroller-factor-xs="-0.1" data-paroller-type="foreground" data-paroller-direction="horizontal" data-paroller-transition="transform .2s linear") Peach Peel
    //-div.innovation__animation-text Peach Peel Peach Peel Peach Peel Peach Peel
    div.innovation__wrap
      div.innovation__col
        h2.innovation__title Инновации и производство
        div.innovation__text Экотренды с эффективностью фармтехнологий
        div.innovation__nav
          button.innovation__nav-btn.innovation__nav-btn_prev
          button.innovation__nav-btn.innovation__nav-btn_next
      div.innovation__slider.swiper
        div.innovation__slider-wrap.swiper-wrapper
          div.innovation__slider-item.innovation__slider-item_video.swiper-slide
            button(data-bs-toggle="modal", data-bs-target="#exampleModal2")
              img.innovation__slider-item-img(src="img/svg/innovation-1.svg", alt="")
            button.innovation__slider-item-play
          div.innovation__slider-item.swiper-slide
            img.innovation__slider-item-img(src="img/content/innovation-2.png", alt="")
          div.innovation__slider-item.swiper-slide
            img.innovation__slider-item-img(src="img/content/innovation-3.png", alt="")
          div.innovation__slider-item.swiper-slide
            img.innovation__slider-item-img(src="img/svg/innovation-1.svg", alt="")
          div.innovation__slider-item.swiper-slide
            img.innovation__slider-item-img(src="img/content/innovation-2.png", alt="")
