section.news
  div.container
    h2.news__title Новости компании
    div.news__wrap
      article.news__item
        div.news__item-link
          img.news__item-img(src="img/content/news-1.jpg", alt="Название заголовка последней новости о компании")
        div.news__item-date 14.07.2021
        h3.news__item-title
          span.news__item-title-link PEACH PEEL - победитель  Премии Cosmopolitan Beauty Award.
        p.news__item-description 4 октября состоялась 18 церемония Cosmopolitan Beauty Award. Более 100 брендов подали заявку на участие. Читатели журнала, экспертное жюри, медицинские эксперты и редакция Cosmo выбирали лучших среди лучших.
      article.news__item
        div.news__item-link
          img.news__item-img(src="img/content/news-2.jpg", alt="Название заголовка последней новости о компании")
        div.news__item-date 14.07.2021
        h3.news__item-title
          span.news__item-title-link PEACH PEEL и Forbes woman
        p.news__item-description В одном из самых знаковых осенних номеров, Fоrbes Woman, вышел спецпроект о PEACH PEEL, с участием АЛЁНЫ САРОМЫЦКОЙ, международного тренера-эксперта в области эстетической медицины.
      article.news__item
        div.news__item-link
          img.news__item-img(src="img/content/news-3.jpg", alt="Название заголовка новости о компании")
        div.news__item-date 14.07.2021
        h3.news__item-title
          span.news__item-title-link PEACH PEEL - победитель  Премии Cosmopolitan Beauty Award.
        p.news__item-description В одном из самых знаковых осенних номеров, Fоrbes Woman, вышел спецпроект о PEACH PEEL, с участием АЛЁНЫ САРОМЫЦКОЙ, международного тренера-эксперта в области эстетической медицины.
      article.news__item
        div.news__item-link
          img.news__item-img(src="img/content/news-4.jpg", alt="Название заголовка новости о компании")
        div.news__item-date 14.07.2021
        h3.news__item-title
          span.news__item-title-link PEACH PEEL и Forbes woman
        p.news__item-description 4 октября состоялась 18 церемония Cosmopolitan Beauty Award. Более 100 брендов подали заявку на участие. Читатели журнала, экспертное жюри, медицинские эксперты и редакция Cosmo выбирали лучших среди лучших.
