section.see
  div.container
    div.see__wrap
      div.see__review
        div.see__review-wrap
          div.see__review-text Вот вам яркий пример современных тенденций - граница обучения кадров позволяет оценить значение форм воздействия.
          div.see__review-name Алена Саромыцкая
          a.see__review-link(href="#") Смотреть видеоотзыв
        img.see__review-img(src="img/content/see.png", alt="")
      div.see__col-right
        h2.see__title Посмотрите сами!
        div.see__text Наше кредо – доказательная медицина. Ведущие российские эксперты оценили процедуру Peach Peel
        div#see-accordion.see__accordion.accordion.accordion-flush
          div.see__accordion-item.accordion-item
            div#see-accordion-one.see__accordion-header.accordion-header
              button.see__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#see-content-one", aria-expanded="false", aria-controls="see-content-one") Бизнес-экспертиза
            div#see-content-one.see__accordion-collapse.accordion-collapse.collapse(aria-labelledby="see-accordion-one", data-bs-parent="#see-accordion")
              div.see__accordion-body.accordion-body
                p.see__accordion-text 1) <strong>Восстанавливает</strong> экосистему кожи, стимулируя выработку собственной гиалуроновой кислоты.
