section.why
  div.container
    div.why__wrap
      div.why__col-left
        h2.why__title Почему Peach Peel даёт WOW эффект?
        div#why-accordion.why__accordion.accordion.accordion-flush
          div.why__accordion-item.accordion-item
            div#why-accordion-one.why__accordion-header.accordion-header
              button.why__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#why-content-one", aria-expanded="false", aria-controls="why-content-one") Суперфуд для кожи
            div#why-content-one.why__accordion-collapse.accordion-collapse.collapse(aria-labelledby="why-accordion-one", data-bs-parent="#why-accordion")
              div.why__accordion-body.accordion-body
                p.why__accordion-text 1) <strong>Восстанавливает</strong> экосистему кожи, стимулируя выработку собственной гиалуроновой кислоты.
                p.why__accordion-text 2) <strong>Всесезонный гидролипидный пилинг с эффектом биорепарации:</strong> доставка активных ингредиентов по типу фармы + природные эко-компоненты для реструкторизации кожи по типу spa
                p.why__accordion-text 3) <strong>Уникальный состав:</strong> масло ядер персика холодного отжима + 4 органические кислоты + 11 аминокислот + 8 витаминов + 10 микроэлементов
                p.why__accordion-text 4) <strong>Ревитализирует</strong> кожу, защищает от обезвоживания и активной эксфолиации
          div.why__accordion-item.accordion-item
            div#why-accordion-two.why__accordion-header.accordion-header
              button.why__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#why-content-two", aria-expanded="false", aria-controls="why-content-two") Новый тип доставки гиалуроновой кислоты и антиоксидантов в дерму
            div#why-content-two.why__accordion-collapse.accordion-collapse.collapse(aria-labelledby="why-accordion-two", data-bs-parent="#why-accordion")
              div.why__accordion-body.accordion-body
                p.why__accordion-text 1) <strong>Восстанавливает</strong> экосистему кожи, стимулируя выработку собственной гиалуроновой кислоты.
                p.why__accordion-text 2) <strong>Всесезонный гидролипидный пилинг с эффектом биорепарации:</strong> доставка активных ингредиентов по типу фармы + природные эко-компоненты для реструкторизации кожи по типу spa
                p.why__accordion-text 3) <strong>Уникальный состав:</strong> масло ядер персика холодного отжима + 4 органические кислоты + 11 аминокислот + 8 витаминов + 10 микроэлементов
                p.why__accordion-text 4) <strong>Ревитализирует</strong> кожу, защищает от обезвоживания и активной эксфолиации
          div.why__accordion-item.accordion-item
            div#why-accordion-three.why__accordion-header.accordion-header
              button.why__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#why-content-three", aria-expanded="false", aria-controls="why-content-three") Процедура-визитка для привлечения новых клиентов
            div#why-content-three.why__accordion-collapse.accordion-collapse.collapse(aria-labelledby="why-accordion-three", data-bs-parent="#why-accordion")
              div.why__accordion-body.accordion-body
                p.why__accordion-text 1) <strong>Восстанавливает</strong> экосистему кожи, стимулируя выработку собственной гиалуроновой кислоты.
                p.why__accordion-text 2) <strong>Всесезонный гидролипидный пилинг с эффектом биорепарации:</strong> доставка активных ингредиентов по типу фармы + природные эко-компоненты для реструкторизации кожи по типу spa
                p.why__accordion-text 3) <strong>Уникальный состав:</strong> масло ядер персика холодного отжима + 4 органические кислоты + 11 аминокислот + 8 витаминов + 10 микроэлементов
                p.why__accordion-text 4) <strong>Ревитализирует</strong> кожу, защищает от обезвоживания и активной эксфолиации
          div.why__accordion-item.accordion-item
            div#why-accordion-four.why__accordion-header.accordion-header
              button.why__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#why-content-four", aria-expanded="false", aria-controls="why-content-four") Сочетанные протоколы и работа с возражениями
            div#why-content-four.why__accordion-collapse.accordion-collapse.collapse(aria-labelledby="why-accordion-four", data-bs-parent="#why-accordion")
              div.why__accordion-body.accordion-body
                p.why__accordion-text 1) <strong>Восстанавливает</strong> экосистему кожи, стимулируя выработку собственной гиалуроновой кислоты.
                p.why__accordion-text 2) <strong>Всесезонный гидролипидный пилинг с эффектом биорепарации:</strong> доставка активных ингредиентов по типу фармы + природные эко-компоненты для реструкторизации кожи по типу spa
                p.why__accordion-text 3) <strong>Уникальный состав:</strong> масло ядер персика холодного отжима + 4 органические кислоты + 11 аминокислот + 8 витаминов + 10 микроэлементов
                p.why__accordion-text 4) <strong>Ревитализирует</strong> кожу, защищает от обезвоживания и активной эксфолиации
          div.why__accordion-item.accordion-item
            div#why-accordion-five.why__accordion-header.accordion-header
              button.why__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#why-content-five", aria-expanded="false", aria-controls="why-content-five") Красивое лицо и шелковистая кожа тела
            div#why-content-five.why__accordion-collapse.accordion-collapse.collapse(aria-labelledby="why-accordion-five", data-bs-parent="#why-accordion")
              div.why__accordion-body.accordion-body
                p.why__accordion-text 1) <strong>Восстанавливает</strong> экосистему кожи, стимулируя выработку собственной гиалуроновой кислоты.
                p.why__accordion-text 2) <strong>Всесезонный гидролипидный пилинг с эффектом биорепарации:</strong> доставка активных ингредиентов по типу фармы + природные эко-компоненты для реструкторизации кожи по типу spa
                p.why__accordion-text 3) <strong>Уникальный состав:</strong> масло ядер персика холодного отжима + 4 органические кислоты + 11 аминокислот + 8 витаминов + 10 микроэлементов
                p.why__accordion-text 4) <strong>Ревитализирует</strong> кожу, защищает от обезвоживания и активной эксфолиации
        div.why__links
          a.why__links-item(href="#") Увлажнение без иглы
          a.why__links-item(href="#") Осветление кожи
          a.why__links-item(href="#") Сияние кожи
          a.why__links-item(href="#") Уплотнение кожи
          a.why__links-item(href="#") Коррекция постакне и маскне
          a.why__links-item(href="#") Терапия растяжек
          a.why__links-item(href="#") Омоложение кистей рук
        div.why__more
          button.why__more-btn.btn(data-bs-toggle="modal", data-bs-target="#exampleModal") Узнать о процедуре
      div.why__photo
        img.why__photo-img(src="img/svg/why-svg.svg", alt="WOW Эффект")
        img.why__photo-jar.why__photo-jar_1.wow.animate__animated.animate__fadeIn(src="img/content/jar-1.png", alt="")
        img.why__photo-jar.why__photo-jar_2.wow.animate__animated.animate__fadeIn(src="img/content/jar-2.png", alt="")
        img.why__photo-jar.why__photo-jar_3.wow.animate__animated.animate__fadeIn(src="img/content/jar-3.png", alt="")
