.modal-video {

}

.modal-video__dialog {
  max-width: 1200px;
}

.modal-video__content {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  border: none;
}

.modal-video__close {
  position: absolute;
  top: 48px;
  right: 49px;
  width: 27px;
  height: 27px;
  background: url("../img/svg/modal-close.svg") center center no-repeat;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: rotate(180deg);
  }
}

.modal-video__wrap {
  min-height: 620px;
  height: 620px;
  padding: 0;
}

.modal-video__img {
  width: 100%;
}

.modal-video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110px;
  height: 110px;
  background: url("../img/svg/play.svg") center center no-repeat;
  transform: translate(-50%, -50%);
}

@media (max-width: 1279px) {

  .modal-video__dialog {
    margin: 20px;
  }

  .modal-video__content {
    /*height: 100vh;*/
    border-radius: 40px;
    border: none;
  }

  .modal-video__wrap {
    min-height: 500px;
    height: 500px;
  }

  .modal-video__close {
    top: 5px;
    right: 5px;
  }

  .modal-video__close {
    width: 17px;
    height: 17px;
    top: 17px;
    right: 19px;
    background: url("../img/svg/close.svg") center center no-repeat;
  }

  .modal-video__img {
    height: 100%;
  }

}
