section.formula-banner
  div.container
    div.formula-banner__wrap
      div.formula-banner__photo
        img.formula-banner__photo-img(src="img/content/formula-banner.png", alt="Peach Peel")
      div.formula-banner__description
        h2.formula-banner__title Формула Peach Peel: экотренды и фармтехнологии
        div.formula-banner__text Масло ядер персика + гиалуроновая кислота + АХА-кислоты + ТСА
        button.formula-banner__more.btn-circle(data-bs-toggle="modal", data-bs-target="#exampleModal") Узнать больше
