section.key
  div.container
    div.key__animation(data-paroller-factor="0.9" data-paroller-factor-lg="0.4" data-paroller-factor-md="0.3" data-paroller-factor-sm="-0.2" data-paroller-factor-xs="-0.1" data-paroller-type="foreground" data-paroller-direction="horizontal" data-paroller-transition="transform .2s linear") Peach Peel - это выгодно и стабильно
    div.key__wrap
      div.key__photo
        img.key__photo-img(src="img/content/key.png", alt="Peach Pell")
      div.key-col-right
        h2.key__title Формула и ключевые сообщения Peach Peel
        img.key__photo-img.key__photo-img_mob(src="img/content/key.png", alt="Peach Pell")
        div#key-accordion.key__accordion.accordion.accordion-flush
          div.key__accordion-item.accordion-item
            div#key-accordion-one.key__accordion-header.accordion-header
              button.key__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#key-content-one", aria-expanded="false", aria-controls="key-content-one") Суперфуд для кожи
            div#key-content-one.key__accordion-collapse.accordion-collapse.collapse(aria-labelledby="key-accordion-one", data-bs-parent="#key-accordion")
              div.key__accordion-body.accordion-body
                p.key__accordion-text Более 12 лет мы посвящаем свою деятельность красоте
          div.key__accordion-item.accordion-item
            div#key-accordion-two.key__accordion-header.accordion-header
              button.key__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#key-content-two", aria-expanded="false", aria-controls="key-content-two") Экотренды
            div#key-content-two.key__accordion-collapse.accordion-collapse.collapse(aria-labelledby="key-accordion-two", data-bs-parent="#key-accordion")
              div.key__accordion-body.accordion-body
                p.key__accordion-text Более 12 лет мы посвящаем свою деятельность красоте
          div.key__accordion-item.accordion-item
            div#key-accordion-three.key__accordion-header.accordion-header
              button.key__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#key-content-three", aria-expanded="false", aria-controls="key-content-three") Увеличение энергетического потенциала Ваших клеток
            div#key-content-three.key__accordion-collapse.accordion-collapse.collapse(aria-labelledby="key-accordion-three", data-bs-parent="#key-accordion")
              div.key__accordion-body.accordion-body
                p.key__accordion-text Более 12 лет мы посвящаем свою деятельность красоте
          div.key__accordion-item.accordion-item
            div#key-accordion-four.key__accordion-header.accordion-header
              button.key__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#key-content-four", aria-expanded="false", aria-controls="key-content-four") Эффект ревитализации без иглы
            div#key-content-four.key__accordion-collapse.accordion-collapse.collapse(aria-labelledby="key-accordion-four", data-bs-parent="#key-accordion")
              div.key__accordion-body.accordion-body
                p.key__accordion-text Более 12 лет мы посвящаем свою деятельность красоте
          div.key__accordion-item.accordion-item
            div#key-accordion-five.key__accordion-header.accordion-header
              button.key__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#key-content-five", aria-expanded="false", aria-controls="key-content-five") Экобаланс кожи (нативное омоложение)
            div#key-content-five.key__accordion-collapse.accordion-collapse.collapse(aria-labelledby="key-accordion-five", data-bs-parent="#key-accordion")
              div.key__accordion-body.accordion-body
                p.key__accordion-text Более 12 лет мы посвящаем свою деятельность красоте
