section.practice-banner
  div.container
    div.practice-banner__wrap
      div.practice-banner__photo
        img.practice-banner__photo-img(src="img/content/practice.png", alt="Peach Peel")
      div.practice-banner__description
        h2.practice-banner__title Peach Peel
        div.practice-banner__text <strong>Гидролипидный пилинг с эффектом биорепарации:</strong> Новая ниша эстетической медицины
        a.practice-banner__more.btn-circle(href="#") Записаться
  div.hero__animation.swiper
    div.hero__animation-wrap.swiper-wrapper
      div.swiper-slide Всесезонный
      div.swiper-slide Без реабилитации
      div.swiper-slide Без запаха аммиака
      div.swiper-slide Без фроста
