section.protocol
  div.container
    div.protocol__wrap
      div.protocol__col-left
        img.protocol__img(src="img/content/protocol.png", alt="")
      div.protocol__col-right
        h2.protocol__title Протокол Peach Peel
        div.protocol__description Ясно и просто для врача или эстетиста любой квалификации
        img.protocol__img-mob(src="img/content/protocol.png", alt="")
        ul.protocol__list
          li.protocol__item <strong>Смыть</strong> макияж, очистить кожу с помощью пенки или молочка для умывания (не использовать для умывания средства содержащие кислоты)
          li.protocol__item Тщательно <strong>высушить</strong> кожу
          li.protocol__item <strong>Смешать</strong> две фазы пилинга (для этого встряхнуть флакон)
          li.protocol__item <strong>Используя</strong> шприц, набрать необходимое количество пилинга. Нанести на кожу 0,5-1 мл препарата
          li.protocol__item Массажными движениями <strong>равномерно распределить</strong> препарат по поверхности кожи (процедуру проводить в нитриловых перчатках)
          li.protocol__item <strong>Как только</strong> действие кислоты достигнет необходимой глубины эпидермиса (через 1-3 минуты после начала процедуры) - остановить дальнейшее протекание реакции, смыв пилинг водой.
          li.protocol__item <strong>Нанести</strong> крем или маску для пост-пилингового ухода (в зависимости от типа кожи пациента)
          li.protocol__item <strong>Пост процедурный уход:</strong> SPF средства в зависимости от фототипа кожи, но не ниже SPF 30+
          li.protocol__item <strong>На неделю ограничить</strong> посещение бань, саун и соляриев.
          li.protocol__item <strong>Рекомендуемый курс:</strong> 3-5 процедур с интервалом 7 дней
        ul.protocol__list-close
          li.protocol__list-close-item Не использовать обезжириватели
          li.protocol__list-close-item Не использовать для демакияжа средства, содержащие кислоты
          li.protocol__list-close-item Процедуру проводить в нитриловых перчатках
