section.solution
  div.container
    h2.solution__title 12 решений для решения 12 задач
    div.solution__description <span>Экономичный расход продукции = выгода для бьюти-центра</span> 1 флакон 7 процедур (лицо, шея, декольте)
    div.solution__wrap
      div.solution__photo
        img.solution__photo-img(src="img/content/solution.png", alt="")
      div.solution__item.solution__item_1 Улучшение качества кожи
      div.solution__item.solution__item_2 Регуляция себорегуляции
      div.solution__item.solution__item_3 Активация иммунных функции кожи
      div.solution__item.solution__item_4 Стимуляция восстановления поврежденных клеток
      div.solution__item.solution__item_5 Выравнивание цвета лица
      div.solution__item.solution__item_6 Коррекция гиперпигментации
      div.solution__item.solution__item_7 Сужение пор
      div.solution__item.solution__item_8 Борется с обезвоженностью кожи
      div.solution__item.solution__item_9 Предупреждение раннего увядания и старения
      div.solution__item.solution__item_10 Увеличивает эластичность кожи
      div.solution__item.solution__item_11 Глубокое увлажнение
      div.solution__item.solution__item_12 Уплотняет кожу
    div.solution__see
      a.solution__see-link.btn(href="#") Посмотреть результаты
