section.century
  div.container
    h2.century__title Peach Peel - процедура 21 века
    div.century__description Мы изучили запросы пациентов клиники и салонов красоты по всей России и предлагаем продукт, соответствующий трендам
    div.century__wrap
      div.century__col-left
        div.century__item
          div.century__item-title Гендерное равенство <span>4</span>
          div.century__item-text Для женщин и мужчин
        div.century__item
          div.century__item-title Нет эйджизму! <span>5</span>
          div.century__item-text Для любой возрастной группы
      div.century__col-middle
        img.century__col-img(src="img/content/century.png", alt="")
      div.century__col-right
        div.century__item
          div.century__item-title <span>1</span> Экотренды
          div.century__item-text Pech Peel - это экотренды с эффективностью медицинских инноваций
        div.century__item
          div.century__item-title <span>2</span> Универсальность
          div.century__item-text Peach Peel подходит для лица и тела
        div.century__item
          div.century__item-title <span>3</span> Безопасность
          div.century__item-text Нет сезонных ограничений
