section.choice
  div.container
    div.choice__wrap
      div.choice__col-left
        h2.choice__title Почему Peach Peel - процедура выбора ведущих врачей в РФ?
        div.choice__description Пациентам нравится, что в основе процедуры Peach Peel - масло персика холодного отжима и природные антиоксиданты
        div.choice__photo_mob
          img.choice__photo-img_mob(src="../img/svg/choice.svg", alt="")
        div#choice-accordion.choice__accordion.accordion.accordion-flush
          div.choice__accordion-item.accordion-item
            div#choice-accordion-one.choice__accordion-header.accordion-header
              button.choice__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#choice-content-one", aria-expanded="false", aria-controls="choice-content-one") Экотренд и забота об экосистеме кожи
            div#choice-content-one.choice__accordion-collapse.accordion-collapse.collapse(data-bs-parent="#choice-accordion")
              div.choice__accordion-body.accordion-body
                p.choice__accordion-text Восстанавливает экосистему кожи, стимулируя выработку собственной гиалуроновой кислоты.
          div.choice__accordion-item.accordion-item
            div#choice-accordion-two.choice__accordion-header.accordion-header
              button.choice__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#choice-content-two", aria-expanded="false", aria-controls="choice-content-two") Безопасность и доверие
            div#choice-content-two.choice__accordion-collapse.accordion-collapse.collapse(data-bs-parent="#choice-accordion")
              div.choice__accordion-body.accordion-body
                p.choice__accordion-text Восстанавливает экосистему кожи, стимулируя выработку собственной гиалуроновой кислоты.
          div.choice__accordion-item.accordion-item
            div#choice-accordion-three.choice__accordion-header.accordion-header
              button.choice__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#choice-content-three", aria-expanded="false", aria-controls="choice-content-three") Антистресс
            div#choice-content-three.choice__accordion-collapse.accordion-collapse.collapse(data-bs-parent="#choice-accordion")
              div.choice__accordion-body.accordion-body
                p.choice__accordion-text Восстанавливает экосистему кожи, стимулируя выработку собственной гиалуроновой кислоты.
          div.choice__accordion-item.accordion-item
            div#choice-accordion-four.choice__accordion-header.accordion-header
              button.choice__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#choice-content-four", aria-expanded="false", aria-controls="choice-content-four") Прозрачность
            div#choice-content-four.choice__accordion-collapse.accordion-collapse.collapse(data-bs-parent="#choice-accordion")
              div.choice__accordion-body.accordion-body
                p.choice__accordion-text Восстанавливает экосистему кожи, стимулируя выработку собственной гиалуроновой кислоты.
          div.choice__accordion-item.accordion-item
            div#choicey-accordion-five.choice__accordion-header.accordion-header
              button.choice__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#choice-content-five", aria-expanded="false", aria-controls="choice-content-five") Выгода
            div#choice-content-five.choice__accordion-collapse.accordion-collapse.collapse(data-bs-parent="#choice-accordion")
              div.choice__accordion-body.accordion-body
                p.choice__accordion-text Восстанавливает экосистему кожи, стимулируя выработку собственной гиалуроновой кислоты.
          div.choice__accordion-item.accordion-item
            div#choicey-accordion-six.choice__accordion-header.accordion-header
              button.choice__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#choice-content-six", aria-expanded="false", aria-controls="choice-content-six") Эмоции
            div#choice-content-six.choice__accordion-collapse.accordion-collapse.collapse(data-bs-parent="#choice-accordion")
              div.choice__accordion-body.accordion-body
                p.choice__accordion-text Восстанавливает экосистему кожи, стимулируя выработку собственной гиалуроновой кислоты.
          div.choice__accordion-item.accordion-item
            div#choicey-accordion-seven.choice__accordion-header.accordion-header
              button.choice__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#choice-content-seven", aria-expanded="false", aria-controls="choice-content-seven") Нетворкинг
            div#choice-content-seven.choice__accordion-collapse.accordion-collapse.collapse(data-bs-parent="#choice-accordion")
              div.choice__accordion-body.accordion-body
                p.choice__accordion-text Восстанавливает экосистему кожи, стимулируя выработку собственной гиалуроновой кислоты.
        div.choice__more
          button.choice__more-btn.btn(data-bs-toggle="modal", data-bs-target="#exampleModal") Записаться на процедуру
      div.choice__photo
        img.choice__photo-img(src="img/svg/choice.svg", alt="Выбор")
  div.choice__animation.swiper
    div.choice__animation-wrap.swiper-wrapper
      div.swiper-slide Всесезонный
      div.swiper-slide Без реабилитации
      div.swiper-slide Без запаха аммиака
      div.swiper-slide Без фроста
