section.faq
  div.container
    div.faq__wrap
      div.faq__photo
        img.faq__photo-img(src="img/content/faq.png", alt="Peach Pell")
      div.faq-col-right
        h2.faq__title Часто задаваемые вопросы о процедурах Peach Peel
        img.faq__photo-img.faq__photo-img_mob(src="img/content/faq-mob.png", alt="Peach Pell")
        div#faq-accordion.faq__accordion.accordion.accordion-flush
          div.faq__accordion-item.accordion-item
            div#faq-accordion-one.faq__accordion-header.accordion-header
              button.faq__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#faq-content-one", aria-expanded="false", aria-controls="faq-content-one") Есть ли смысл ежедневно прибегать к мягкому отшелушиванию кожи или лучше делать более тщательное, но реже?
            div#faq-content-one.faq__accordion-collapse.accordion-collapse.collapse(aria-labelledby="faq-accordion-one", data-bs-parent="#faq-accordion")
              div.faq__accordion-body.accordion-body
                p.faq__accordion-text Более 12 лет мы посвящаем свою деятельность красоте
          div.faq__accordion-item.accordion-item
            div#faq-accordion-two.faq__accordion-header.accordion-header
              button.faq__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#faq-content-two", aria-expanded="false", aria-controls="faq-content-two") Кому противопоказаны абразивные скрабы?
            div#faq-content-two.faq__accordion-collapse.accordion-collapse.collapse(aria-labelledby="faq-accordion-two", data-bs-parent="#faq-accordion")
              div.faq__accordion-body.accordion-body
                p.faq__accordion-text Более 12 лет мы посвящаем свою деятельность красоте
          div.faq__accordion-item.accordion-item
            div#faq-accordion-three.faq__accordion-header.accordion-header
              button.faq__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#faq-content-three", aria-expanded="false", aria-controls="faq-content-three") Если на коже есть шелушения или периодически появляются высыпания, можно ли делать пилинг?
            div#faq-content-three.faq__accordion-collapse.accordion-collapse.collapse(aria-labelledby="faq-accordion-three", data-bs-parent="#faq-accordion")
              div.faq__accordion-body.accordion-body
                p.faq__accordion-text Более 12 лет мы посвящаем свою деятельность красоте
          div.faq__accordion-item.accordion-item
            div#faq-accordion-four.faq__accordion-header.accordion-header
              button.faq__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#faq-content-four", aria-expanded="false", aria-controls="faq-content-four") С какого возраста можно использовать пилинги?
            div#faq-content-four.faq__accordion-collapse.accordion-collapse.collapse(aria-labelledby="faq-accordion-four", data-bs-parent="#faq-accordion")
              div.faq__accordion-body.accordion-body
                p.faq__accordion-text Более 12 лет мы посвящаем свою деятельность красоте
          div.faq__accordion-item.accordion-item
            div#faq-accordion-five.faq__accordion-header.accordion-header
              button.faq__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#faq-content-five", aria-expanded="false", aria-controls="faq-content-five") Можно ли делать пилинг летом и зимой?
            div#faq-content-five.faq__accordion-collapse.accordion-collapse.collapse(aria-labelledby="faq-accordion-five", data-bs-parent="#faq-accordion")
              div.faq__accordion-body.accordion-body
                p.faq__accordion-text Более 12 лет мы посвящаем свою деятельность красоте
          div.faq__accordion-item.accordion-item
            div#faq-accordion-six.faq__accordion-header.accordion-header
              button.faq__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#faq-content-six", aria-expanded="false", aria-controls="faq-content-six") Кому нужен срединный и глубокий пилинг, если есть возможность сделать легкий и безболезненный поверхностный?
            div#faq-content-six.faq__accordion-collapse.accordion-collapse.collapse(aria-labelledby="faq-accordion-six", data-bs-parent="#faq-accordion")
              div.faq__accordion-body.accordion-body
                p.faq__accordion-text Более 12 лет мы посвящаем свою деятельность красоте
          div.faq__accordion-item.accordion-item
            div#faq-accordion-seven.faq__accordion-header.accordion-header
              button.faq__accordion-btn.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target="#faq-content-seven", aria-expanded="false", aria-controls="faq-content-seven") Как проходит процедура салонного химического пилинга?
            div#faq-content-seven.faq__accordion-collapse.accordion-collapse.collapse(aria-labelledby="faq-accordion-seven", data-bs-parent="#faq-accordion")
              div.faq__accordion-body.accordion-body
                p.faq__accordion-text Более 12 лет мы посвящаем свою деятельность красоте
