section.patient
  div.container
    div.patient__wrap
      div.patient__photo
        img.patient__photo-img(src="img/content/patient.png", alt="Peach Peel")
      div.patient__description
        h2.patient__title Peach Peel
        div.patient__text Гидролипидный пилинг для сияющей кожи лица и тела: <span>15 минут = решение 12 задач</span>
        button.patient__more.btn-circle(data-bs-toggle="modal", data-bs-target="#exampleModal") О процедуре
