secton.procedure
  div.container
    div.procedure__animation-text(data-paroller-factor="0.9" data-paroller-factor-lg="0.4" data-paroller-factor-md="0.3" data-paroller-factor-sm="-0.2" data-paroller-factor-xs="-0.1" data-paroller-type="foreground" data-paroller-direction="horizontal" data-paroller-transition="transform .2s linear") Peach Peel
    h2.procedure__title Как проводится процедура?
    div.procedure__description Кожа - самый большой орган и первый барьер перед опасностями окружающей среды, потому ей требуется особый уход, который можно осущесвить с помощью гидролипидного пилинга
    div.procedure__video
      img.procedure__video-img(src="img/content/procedure.png", alt="")
      button.procedure__video-btn
