.faq {
  margin-top: 267px;
  margin-bottom: 250px;
  .container {
    padding-left: 0;
    padding-right: 144px;
  }
}

.faq__wrap {
  display: flex;
  justify-content: space-between;
}

.faq__photo {
  width: 49%;
}

.faq__photo-img {

  &_mob {
    display: none;
  }
}

.faq-col-right {
  width: 45.3%;
  margin-right: 0;
  padding-top: 101px;
}

.faq__title {
  margin-bottom: 55px;
  padding-right: 100px;
  font-family: $Playfair;
  font-size: 43px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.22;
}

.faq__accordion {

  .faq__accordion-item {
    margin-bottom: 22px;
    &:last-child {
      margin-bottom: 0;
      border-bottom: 1px solid rgba(0,0,0,0.125);
    }
  }
}


.faq__accordion-header {

}

.faq__accordion-btn {
  padding: 16px 0 17px;
  font-family: $Montserrat;
  font-size: 17px;
  font-weight: 500;
  color: #545454;
  letter-spacing: 0.03em;
  line-height: 1.24;
  &::after {
    width: 12px;
    height: 12px;
    margin-left: 21px;
    background: url("../img/svg/plus.svg") left top no-repeat;
    background-size: cover;
  }
  &:hover,
  &:focus {
    color: $red-100;
  }
  &:focus {
    border-color: $red-100;
    box-shadow: none;
  }
}

.faq__accordion-btn.accordion-button:not(.collapsed) {
  font-weight: 700;
  color: $red-100;
  background: transparent;
}

.faq__accordion-btn.accordion-button:not(.collapsed)::after {
  background: url("../img/svg/minus.svg") center center no-repeat;
}

.faq__accordion-collapse {

}

.faq__accordion-body {

}

.faq__accordion-text {
  margin-bottom: 10px;
  font-size: 16px;
  color: #3d3d3d;
  line-height: 1.5;
  letter-spacing: 0.03em;
  strong {
    font-weight: 500;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1439px) {

  .faq {
    margin-bottom: 89px;
    .container {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .faq__title {
    padding-right: 0;
  }

  .faq__accordion-btn {
    font-size: 15px;
  }

  .faq__accordion-text {
    font-size: 14px;
  }

  .faq__photo-img {
    position: relative;
    left: -50px;
  }

  /*.faq {
    margin-bottom: 89px;
    .container {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

    .faq__title {

  }

    .faq__title {

  }

  .faq__animation {
    width: 2000%;
    margin-bottom: 18px;
    font-size: 60px;
  }

  .faq__wrap {
    flex-direction: column;
  }

  .faq__photo {
    width: auto;
    padding-top: 0;
  }

  .faq-col-right {
    width: auto;
  }

  .faq__title {
    padding-right: 0;
    font-size: 26px;
    text-align: center;
  }

  .faq__accordion-btn {
    padding-right: 40px;
    font-size: 14px;
    &::after {
      position: absolute;
      right: 3px;
    }
  }

  .faq__accordion-text {
    font-size: 14px;
  }

  .faq__accordion .faq__accordion-item {
    margin-bottom: 15px;
  }

  .faq__animation {
    width: 800%;
  }*/

}

@media (max-width: 1279px) {

  .faq {
    margin-top: 0;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .faq__accordion .faq__accordion-item {
    margin-bottom: 15px;
  }

  .faq__title {
    margin-bottom: 40px;
  }

  .faq__wrap {
    flex-direction: column;
  }

  .faq__photo {
    width: auto;
    padding-top: 0;
  }

  .faq-col-right {
    width: auto;
    padding-top: 85px;
  }

  .faq__photo-img {
    display: none;
    &_mob {
      position: relative;
      left: 0;
      display: block;
      margin: 0 auto 25px;
    }
  }

  .faq__title {
    font-size: 26px;
    text-align: center;
  }

  .faq__accordion-btn {
    padding: 16px 0 13px 0;
    font-size: 14px;
    line-height: 1.5;
  }

}

@media (max-width: 1023px) {



}

@media (max-width: 767px) {

  .faq {
    margin-bottom: 18px;
  }

}
