extends ../common/layout

block main
  main
    include ../includes/formula/formula-banner
    include ../includes/formula/how
    include ../includes/formula/key
    include ../includes/formula/say
    include ../reuse/cta
