extends ../common/layout

block main
  main.patient-main
    include ../includes/patient/patient
    include ../includes/patient/choice
    include ../includes/patient/century
    include ../includes/patient/procedure
    include ../includes/patient/faq
    include ../reuse/old
    include ../reuse/cta
