div.comment
  div.comment__slider.swiper
    div.comment__slider-wrap.swiper-wrapper
      div.comment__slider-item.swiper-slide
        div.comment__slider-item-wrap
          div.comment__name Алена Саромыцкая
          div.comment__position Основатель сети клиник Professional, дерматолог, врач-косметолог высшей категории, международный тренер-эксперт
          p.comment__text И нет сомнений, что акционеры крупнейших компаний представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом. Равным образом, выбранный нами инновационный путь является качественно новой ступенью глубокомысленных рассуждений.
          div.comment__video
            a.comment__video-link(href="#") Смотреть видеоотзыв
        img.comment__img(src="img/content/comment.png", alt="")
        img.comment__img.comment__img_mob(src="img/content/see.png", alt="")
      div.comment__slider-item.swiper-slide
        div.comment__slider-item-wrap
          div.comment__name Алена Саромыцкая
          div.comment__position Основатель сети клиник Professional, дерматолог, врач-косметолог высшей категории, международный тренер-эксперт
          p.comment__text И нет сомнений, что акционеры крупнейших компаний представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом. Равным образом, выбранный нами инновационный путь является качественно новой ступенью глубокомысленных рассуждений.
          div.comment__video
            a.comment__video-link(href="#") Смотреть видеоотзыв
        img.comment__img(src="img/content/comment.png", alt="")
        img.comment__img.comment__img_mob(src="img/content/see.png", alt="")
  div.comment__slider-nav
    button.comment__slider-btn.comment__slider-btn_prev
    button.comment__slider-btn.comment__slider-btn_next
