section.cta
  div.container
    div.cta__wrap
      div.cta__col-left
        img.cta__col-left-img(src="img/content/cta.png", alt="Есть вопросы по нашей формуле?")
        div.cta__call.cta__call_mob
          button.cta__call-btn.btn Оставить заявку
      div.cta__col-right
        h2.cta__title Есть вопросы по нашей формуле?
        div.cta__text Оставьте заявку и наши менеджеры свяжутся с Вами в ближайшее время
        div.cta__call
          button.cta__call-btn.btn(data-bs-toggle="modal", data-bs-target="#exampleModal") Оставить заявку
