div#exampleModal2.modal.fade.modal-video(tabindex="-1" aria-hidden="true")
  div.modal-video__dialog.modal-dialog.modal-dialog-centered
    div.modal-video__content.modal-content
      button.modal-video__close.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
      div.modal-video__wrap.modal-body
        img.modal-video__img(src="img/content/procedure.png", alt="")
        button.modal-video__btn
