.why {
  margin-bottom: 318px;
  .container {
    padding: 0 143px;
  }
}

.why__wrap {
  display: flex;
  justify-content: space-between;
}

.why__col-left {
  width: 48%;
}

.why__title {
  margin-bottom: 57px;
  font-family: $Playfair;
  font-size: 43px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.22;
}

.why__accordion {
  max-width: 96.2%;
  margin-bottom: 45px;
  .why__accordion-item {
    &:last-child {
      margin-bottom: 0;
      border-bottom: 1px solid rgba(0,0,0,0.125);
    }
  }
}

.why__accordion-item {
  margin-bottom: 22px;
}

.why__accordion-header {

}

.why__accordion-btn {
  padding: 16px 0 17px;
  font-family: $Montserrat;
  font-size: 17px;
  font-weight: 500;
  color: #545454;
  letter-spacing: 0.03em;
  &::after {
    width: 12px;
    height: 12px;
    margin-left: 21px;
    background: url("../img/svg/plus.svg") left top no-repeat;
    background-size: cover;
    transition: none;
  }
  &:hover,
  &:focus {
    color: $red-100;
  }
  &:focus {
    border-color: $red-100;
    box-shadow: none;
  }
}

.why__accordion-btn.accordion-button:not(.collapsed) {
  font-weight: 700;
  color: $red-100;
  background: transparent;
}

.why__accordion-btn.accordion-button:not(.collapsed)::after {
  background: url("../img/svg/minus.svg") center center no-repeat;
}

.why__accordion-collapse {

}

.why__accordion-body {
  padding: 13px 40px 21px 0;
}

.why__accordion-text {
  margin-bottom: 10px;
  font-size: 16px;
  color: #3d3d3d;
  line-height: 1.5;
  letter-spacing: 0.03em;
  strong {
    font-weight: 500;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.why__links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 57px;
}

.why__links-item {
  margin-right: 15px;
  margin-bottom: 13px;
  padding: 10px 20px 9px;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-decoration: underline;
  background: #f5f5f5;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
  &:hover {
    background: $red-100;
    color: $white;
  }
}

.why__more {

}

.why__more-btn {

}

.why__photo {
  position: relative;
  width: 48.5%;
  margin-top: 32px;
}

.why__photo-img {
  padding-left: 62px;
}

.why__photo-jar {
  position: absolute;
  &_1 {
    bottom: 0;
    left: 2px;
    animation-delay: 0.5s;
  }
  &_2 {
    top: 176px;
    left: 225px;
    animation-delay: 1s;
  }
  &_3 {
    top: 110px;
    right: 34px;
    animation-delay: 1.5s;
  }
}

@media (max-width: 1900px) {

  .why {
    margin-bottom: 150px;
    .container {
      padding: 0 50px;
    }
  }

  .why__accordion-btn {
    font-size: 14px;
  }

  .why__photo-jar_1 {
    bottom: 60px;
    left: -40px;
  }

  .why__photo-jar_2 {
    top: 186px;
    left: 200px;
  }

  .why__photo-jar_3 {
    top: 20px;
    right: -86px;
  }

  .why__title {
    font-size: 36px;
  }

}

@media (max-width: 1365px) {

  .why__photo-jar_2 {
    left: 159px;
  }

  .why__links-item {
    font-size: 13px;
  }

  .why__accordion-text {
    font-size: 13px;
  }

}

@media (max-width: 1279px) {

  .why {
    margin-bottom: 90px;
    .container {
      padding: 0 20px;
    }
  }

  .why__wrap {
    flex-direction: column;
  }

  .why__col-left {
    width: auto;
  }

  .why__photo {
    display: none;
  }

  .why__title {
    margin-bottom: 35px;
    font-size: 36px;
    text-align: center;
    line-height: 1.2;
  }

  .why__accordion {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .why__accordion-body {
    padding: 13px 0 21px 0;
  }

  .why__accordion-item {
    margin-bottom: 16px;
  }

  .why__accordion-btn {
    padding: 15px 20px 13px 0;
    font-size: 14px;
    line-height: 1.5;
    &::after {
      content: "";
      position: absolute;
      right: 3px;
      width: 10px;
      height: 10px;
      background-position: right top;
    }
  }

  .why__links {
    margin-bottom: 37px;
    padding-left: 1px;
    justify-content: center;
  }

  .why__links-item {
    margin-right: 6px;
    margin-bottom: 13px;
    padding: 8px 10px 8px;
    font-size: 13px;
  }

  .why__more {
    text-align: center;
  }

  .why__accordion-text {
    font-size: 13px;
  }


}

@media (max-width: 1023px) {

  .why__title {
    font-size: 26px;
  }

}

@media (max-width: 767px) {



}


@media (min-width: 2500px) {

  .why__photo {
    text-align: center;
  }

}
