header.header
  div.container
    div.header__wrap
      nav.header__nav
        ul
          li.active
            a(href="#") Главная
          li
            a(href="#") Теория и формула
          li
            a(href="#") Практика
          li.header__nav-logo
            a(href="#")
              img(src="img/svg/logo.svg", alt="Peach Peel")
          li
            a(href="#") Для пациентов
          li
            a(href="#") Календарь
          li
            a(href="#") Контакты
